<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Welcome to ember crud</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        {{#link-to "add-application" class="btn btn-primary btn-lg px-4 gap-3"}}Add Application{{/link-to}}
        {{#link-to "application-list" class="btn btn-outline-secondary btn-lg px-4"}}Application List{{/link-to}}
      </div>
    </div>
  </div>